<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/logo.css'/>
    <link rel='stylesheet' href='/stylesheets/navigation-bar.css'/>
    <link rel='stylesheet' href='/stylesheets/about.css'/>
    <link rel='stylesheet' href='/stylesheets/classes.css'/>
    <link rel='stylesheet' href='/stylesheets/social.css'/>
    <link rel='stylesheet' href='/stylesheets/contact.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://snapwidget.com/js/snapwidget.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<% include ./pages/home.ejs %>
<% include ./pages/about.ejs %>
<% include ./pages/classes.ejs %>
<% include ./pages/social.ejs %>
<% include ./pages/contact.ejs %>
</body>
</html>