<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="home-page">
    <div class="opacity">
        <div class="navigation-bar">
            <div class="logo">
                <div class="logo-wrapper">
                    <div>pia</div>
                    <div>cumine</div>
                    <div>yoga</div>
                </div>
            </div>
            <div class="navigation-left">
                <div class="navigation-link">about</div>
                <div class="navigation-link">classes</div>
            </div>
            <div class="navigation-right">
                <div class="navigation-link">contact</div>
                <div class="navigation-link">social</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>