<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/logo.css'/>
    <link rel='stylesheet' href='/stylesheets/navigation-bar.css'/>
    <link rel='stylesheet' href='/stylesheets/about.css'/>
    <link rel='stylesheet' href='/stylesheets/classes.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="home-page">
    <div class="opacity">
        <div class="navigation-bar">
            <% include ./partials/logo.ejs %>
            <div class="navigation-left">
                <div class="navigation-link"><a href="#about-page">about</a></div>
                <div class="navigation-link">classes</div>
            </div>
            <div class="navigation-right">
                <div class="navigation-link">contact</div>
                <div class="navigation-link">social</div>
            </div>
        </div>
    </div>
</div>
<% include ./pages/about.ejs %>
<div class="classes-page">
    <div class="placeholder-container">
        <div class="placeholder-title">stay tuned.</div>
        <div class="placeholder-paragraph">stay tuned</div>
    </div>
</div>

</body>
</html>