.classes-page {
    background-color: slategrey;
    padding-bottom: 10em;
    padding-top: 10em;
}

.placeholder-container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.placeholder-title {
    font-size: 6.5em;
    text-transform: uppercase;
}

.placeholder-paragraph {
    letter-spacing: 0.08em;
    padding-top: 3em;
}

@media (max-width: 535px) {
    .placeholder-container {
        width: 90%;
    }
}