body {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    height: 100%;
    margin: 0;
    font-weight: lighter;
}

html {
    height: 100%;
}

.home-page {
    background: url(../images/pia_banner.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.12);
    height: 100%;
    padding-top: 4em;
}

a {
    text-decoration: none;
}