body {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.home-page {
    background: url(../images/pia_banner.jpg) center center no-repeat;
    background-size: cover;
    height: 100%;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.13);
    height: 100%;
    padding-top: 4em;
}

.logo {
    height: 4em;
    width: 4em;
    border-radius: 5em;
    background-color: white;
    opacity: 0.3;
    text-align: center;
    font-weight: lighter;
    font-size: 4em;
    margin: 0 auto;
    padding: 0.1em;
    line-height: 0.8;
}

.logo-wrapper {
    padding-top: 0.6em;
}

