<div class="about-page" id="about-page">
    <div class="bio">
        <p>
            Hi, I’m Pia a yoga teacher based in East London. Thank you for visiting

            piacumineyoga.
        </p>
        <p>
            I was taken to my first yoga class by my mum as a teenager during a school

            holiday but didn’t truly ‘discover’ yoga until university.
        </p>
        <p>
            After playing various sports all the way through school and university I

            accumulated injuries to most of my joints. Injuries coupled with asthma and

            mental health setbacks during my undergrad degree brought yoga back into my

            life. Since then yoga has been a key component to strengthening and enabling me

            to understand my body and thought patterns.
        </p>
        <p>
            Now as a PhD student, I understand the importance of regular exercise to help

            clear the mind and body of tension that builds up from sitting behind a desk all

            day.
        </p>
        <p>
            Now based in London, I teach dynamic hatha yoga with a focus on alignment to

            small groups and one-on- one clients in and around central London. My aim is to

            provide accessible yoga classes to a wide range of practitioners, to ease the

            stresses of living and working in a fast paced city. Enabling greater connection

            between movement and mind, as well as having a little fun!
        </p>
        <p>
            Forever student…

            In 2014 I completed a 200hr Anusara Teacher training with Bridget Woods

            Kramer. Since then I have had the pleasure of studying Vinyasa with Mimi Kuo-

            Deemer, anatomy with Tiffany Cruikshank and The Art of Teaching One-to- One

            with Kate Ellis.
        </p>
    </div>
    <div class="profile-picture"></div>
</div>