<div class="classes-page" id="classes-page">
    <div class="placeholder-container">
        <div class="placeholder-title">stay tuned</div>
        <div class="placeholder-paragraph">something exciting is happening, watch this space</div>
    </div>
</div>