<div class="classes-page" id="classes-page">
    <div class="classes-container">
        <div class="classes-title">classes</div>
        <div class="classes-paragraph">
            <p>
                Monday 6:00-7:00pm Yin Yoga at For The Core, Hoxton
            </p>
            <p>
                Friday 12:00-12:45pm Hatha, Relax & Restore at For The Core, Hoxton
            </p>
            <br/>
            <p>Please contact me for bespoke one-one and small group classes.</p>
        </div>
    </div>
</div>