<div class="classes-page" id="classes-page">
  <div class="classes-container">
    <div class="classes-title">classes</div>
    <div class="classes-paragraph">
      <p>No public classes at the moment.</p>
      <p>I'm currently teaching in offices around London.</p>
      <p>
        Please contact me for bespoke one-one, small group classes, and in
        office yoga.
      </p>
    </div>
    <!-- <div class="classes-paragraph">
      <div class="classes-title">workshops</div>
      <div class="classes-paragraph">
        <p>
          <a
            class="class-link"
            rel="noopener noreferrer"
            target="_blank"
            href="https://www.forthecore.co.uk/what-s-on"
            >Saturday 16th March 1:00-3:00pm Yin Yoga at For the Core, Hoxton</a
          >
        </p>
      </div>
    </div> -->
  </div>
</div>
