<div class="classes-page" id="classes-page">
  <div class="classes-container">
    <div class="classes-title">classes</div>
    <div class="classes-paragraph">
      <p>No public classes at the moment.</p>
      <p>Please find on-demand classes below to buy or rent.</p>
    </div>
    <!-- <div class="classes-paragraph">
      <div class="classes-title">workshops</div>
      <div class="classes-paragraph">
        <p>
          <a
            class="class-link"
            rel="noopener noreferrer"
            target="_blank"
            href="https://www.forthecore.co.uk/what-s-on"
            >Saturday 16th March 1:00-3:00pm Yin Yoga at For the Core, Hoxton</a
          >
        </p>
      </div>
    </div> -->
    <iframe
      src="https://player.vimeo.com/video/442679410"
      width="640"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
    <br></br>
    <iframe
      src="https://player.vimeo.com/video/442679492"
      width="640"
      height="360"
      frameborder="0"
      allow="autoplay; fullscreen"
      allowfullscreen
    ></iframe>
  </div>
</div>
