<div class="classes-page" id="classes-page">
    <div class="classes-container">
        <div class="classes-title">classes</div>
        <div class="classes-paragraph">
            <p>
                Tuesday
                5:30-6:30pm King's College London (Staff)
            </p>
            <br/>
            <p>Please contact me for bespoke one-one and small group classes.</p>
        </div>
    </div>
</div>
