<div class="classes-page" id="classes-page">
  <div class="classes-container">
    <div class="classes-title">classes</div>
    <div class="classes-paragraph">
      <p>Monday 7:30-8:30pm Yin Yoga at For The Core, Hoxton</p>
      <p>Friday 12:00-12:45pm Hatha Flow at For The Core, Hoxton</p>
      <p>
        <a
          class="class-link"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.blocfit.co.uk/store/vinyassa-flow-with-pia"
          >Saturday 10:00-11:00am Vinyasa Flow at Blocfit, Brixton</a
        >
      </p>
      <p>
        Sunday 11:00-11:55am Box-Yoga (Vinyasa Flow) at Body and Boxing,
        Kensington
      </p>
      <br />
      <p>Please contact me for bespoke one-one and small group classes.</p>
    </div>
  </div>
</div>
