<div class="contact-page">
    <div class="contact-information" id="contact-page">
        <div><i class="fa fa-instagram"></i> @pia.cumine</div>
        <div><i class="fa fa-facebook"></i> @piacumineyoga</div>
        <div><i class="fa fa-envelope-o"></i> piacumineyoga@gmail.com</div>
        <div><i class="fa fa-phone"></i> +44(0)771 0971 260</div>
    </div>
</div>