<div class="home-page">
    <div class="opacity">
        <div class="navigation-bar">
            <% include ../partials/logo.ejs %>
                <div class="navigation-left">
                    <div class="navigation-link"><a href="#about-page">about</a></div>
                    <div class="navigation-link"><a href="#classes-page">classes</a></div>
                </div>
                <div class="navigation-right">
                    <div class="navigation-link"><a href="#social-page">social</a></div>
                    <div class="navigation-link"><a href="#contact-page">contact</a></div>
                </div>
        </div>
    </div>
</div>