<div class="social-page" id="social-page">
    <iframe src="https://snapwidget.com/in/?u=cGlhLmN1bWluZXxpbnwxMjV8NXwyfHxub3w1fGZhZGVPdXR8b25TdGFydHxub3x5ZXM=&ve=010116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
</div>